# Import all important nltk files

In [1]:
import nltk
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.chunk import named_entity,ne_chunk

Write Doc files

In [2]:
doc="""According to a media report, Mumbai has the highest density of cars in India. Pune is in second place. 

The density of private cars in Mumbai has gone up by 18% in 2 years. There are 510 cars per km of road as opposed to 430 cars per km in 2016. This is almost five times that of Delhi (108 cars per km). Despite having fewer cars than Delhi, Mumbai is more congested due to low road space. Mumbai has 2,000 km of roads compared to the national capital, which has 28,000 km of roadways.

There are 10.2 lakh private cars in Mumbai. That is 28% of the total number of vehicles in the city, which stands at 36 lakh. According to RTO officials, the western suburbs have the highest number of registered cars (5 lakh). There are 3.3 lakh private cars in the island city and 1.7 lakh in the eastern suburbs.

Pune has 359 cars per km and Kolkata is the third most congested city with 319 cars per km. Chennai comes in fourth with 297 cars per km followed by Bangalore with 149 cars per km."""

Tokenize doc file From word_tokenize
And Store in words
And ne_chunk store in name

In [3]:
words=word_tokenize(doc)
pos=nltk.pos_tag(words)
name=ne_chunk(pos)

Find the name Entities

In [5]:
loc=[]
for na in str(name).split('\n'):
    if '/NNP'in na:
        loc.append(na)
        print(na)

  (PERSON Mumbai/NNP)
  (GPE India/NNP)
  Pune/NNP
  (GPE Mumbai/NNP)
  (GPE Delhi/NNP)
  (PERSON Delhi/NNP)
  (PERSON Mumbai/NNP)
  (PERSON Mumbai/NNP)
  (GPE Mumbai/NNP)
  (ORGANIZATION RTO/NNP)
  (PERSON Pune/NNP)
  (PERSON Kolkata/NNP)
  (PERSON Chennai/NNP)
  (ORGANIZATION Bangalore/NNP)

# Clean the data

In [15]:
import re 
i=0
town=[]
while i<len(loc): 
    pattern=r'\w+/NNP'
    s=re.findall(pattern,loc[i])
    print(s)
    if s not in town:
        town.append(s)
    i=i+1

['Mumbai/NNP']
['India/NNP']
['Pune/NNP']
['Mumbai/NNP']
['Delhi/NNP']
['Delhi/NNP']
['Mumbai/NNP']
['Mumbai/NNP']
['Mumbai/NNP']
['RTO/NNP']
['Pune/NNP']
['Kolkata/NNP']
['Chennai/NNP']
['Bangalore/NNP']

# Again the data clean and create the final location list

In [20]:
city=[]
for l in town:
    z=str(l)
    w=z.split('/')
    az=w[0]
    rr=az[2:]
    city.append(rr)

In [21]:
city

['Mumbai', 'India', 'Pune', 'Delhi', 'RTO', 'Kolkata', 'Chennai', 'Bangalore']